body {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.root {
    margin-top: 60px;
}

#pairs-list-wrap {
    margin-top: 1em;
    padding: 1em 0;
}

.devCaption {
    clear: both;
    font-size: 0.7em;
}

#main-tabs-content {
    overflow: inherit;
}

#left-col {
    position: fixed;
}

.plugin-sub-caption {
    font-size: 0.6em;
}

#alerts {
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 400px;
}